<html>
	<head>
		{% if title %}
			<title>{{TITLE}}</title>
		{% else %}
			<title>Team Ninja</title>
		{% endif %}

		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

		<!-- Load the script for a Google + sign-in button asynchronously -->
		<script type="text/javascript">
			(function() {
				var po = document.createElement('script');
				po.type = 'text/javascript'; 
				po.async = true;
				po.src = 'https://plus.google.com/js/client:plusone.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(po, s);
			})();
		</script>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>
	</head>
	<body>
		<div id="header">
			<h3 class="title"><a href="/" class="nav">Bouncehouse</a></h3>
			<ul class="navigation">
				<li><a href="/" class="nav">Return to Home</a></li>
				<li><a href="#" class="nav">Settings</a></li>
				<li><a href="#" class="nav">About</a></li>
			</ul>
		</div>
		{% block content %}{% endblock %}
	</body>
</html>