<html>
	<head>
		{% if title %}
			<title>{{TITLE}}</title>
		{% else %}
			<title>Team Ninja</title>
		{% endif %}
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="header">
			<h3 class="title"><a href="/" class="nav">Bouncehouse</a></h3>
			<ul class="navigation">
				<li><a href="/" class="nav">Return to Home</a></li>
				<li><a href="#" class="nav">Settings</a></li>
				<li><a href="#" class="nav">About</a></li>
			</ul>
		</div>
		{% block content %}
		{% endblock %}
	</body>
</html>