{% extends "base.html" %}
{% block content %}

<div id="container">
	<h1>Welcome to BounceHouse!</h1>
	<div class = "button-container">
		<p class="description">Sign in with Google+, Twitter, or Facebook to get started</p>
		<div class="connect" id="google-connect">
			<!-- 
				data-scope indicates access to user's data the app requires
				data-requestvisibleactions defines type of moments app is requesting to write
			-->
			<button class="g-signin"
				data-scope="https://www.googleapis.com/auth/plus.login"
				data-requestvisibleactions="http://schemas.google.com/AddActivity"
				data-clientId="{{ CLIENT_ID }}"
				data-accesstype="offline"
				data-callback="googleCallback"
				data-theme="dark"
				data-cookiepolicy="single_host_origin"
				data-width="300">
			</button>
		</div>
		<div class="connect" id="twitter-connect">
			<form action="http://ignore.ninja-bounce-house.appspot.com/twit/">
				<input type="image" src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" />
			</form>
		</div>
		<div class="connect" id="facebook-connect">
			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>
			<div id="status"></div>
		</div>
	</div>
	<div id="connected" class="not_visible">
		<p class="description" id="user-name"></p>
		<div id="google-connected" class="not_visible">
			<h4>Google +</h4>
			<a href="/moment">
				<button id="google-moment" class="btn btn-primary">Insert a moment</button>
			</a>
			<button id="google-disconnect" class="btn">Sign out</button>
		</div>
		<div id="facebook-connected" class="not_visible">
			<h4>Facebook</h4>
			<button class="btn btn-primary">Post to graph</button>
			<button class="btn">Sign out</button>
		</div>
		<div id="twitter-connected" class="not_visible">
			<h4>Twitter</h4>
			<button class="btn btn-primary">Upload a photo</button>
			<button class="btn">Sign out</button>
		</div>
		</div>
	</div>
</div>

<script src="{{ url_for('static', filename='js/gplus.js') }}"></script>
<script src="{{ url_for('static', filename='js/plusone.js') }}"></script>
<script src="{{ url_for('static', filename='js/facebook.js') }}"></script>

{% endblock %}
