{% extends "base.html" %}
{% block content %}

<div id="container">
	<h1>Insert a moment</h1>
	<div class="form_container">
		<form role="form" onsumbit = "return validateForm();" action= "{{ ACTION }}" method="POST" enctype="multipart/form-data" id="upload-form" >
			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" class="form-control" id="title" placeholder="Enter post title" name="title" required>
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" class="form-control" id="description" placeholder="Enter post description" name="description" required>
			</div>
			<div class="form-group">
				<label for="file">Choose a file (jpg, jpeg, or png)</label>
				<input type="file" class="form-control" id="file" name="file">
			</div>

			<button type="submit" class="btn btn-default" name="submit">Submit</button>
		</form>
	</div>
</div>

<script src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
<script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>

<script type = "text/javascript">

	$(document).ready(function() {

		$('#upload-form').validate({

			rules: {
			    file: {
			      required: true,
			      extension: "jpg|jpeg|png"
			    }
			}
		});

	});

</script>

{% endblock %}